* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style: none !important;
  scroll-behavior: smooth !important;

}

/* nav */
.nav_btn {
  border: 2px solid #000958;
  border-radius: 5px;
  padding: 15px 30px !important;
}

.z-10 {
  z-index: 10;
}

.navlogo:hover {
  transform: scale(1.1);
}

.effect {
  transition: 0.2s ease-in-out;
}

.effect_1 {
  transition: 0.6s ease-in-out;
}

.home:hover {
  color: #000958 !important;

}

/* hero */
.Contact_btn {
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border-radius: 10px;
  padding: 17px 30px;
}

.max_w_480 {
  max-width: 480px;
}

.img_2 {
  z-index: 2;
  margin-left: -15px;
}

.img_3 {
  z-index: 3;
  margin-left: -15px;
}

.img_4 {
  z-index: 4;
  margin-left: -15px;
}

.img_5 {
  z-index: 5;
  margin-left: -15px;
}

/* Let */
.Book_btn {
  background: #FF5B2E;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border-radius: 10px;
  padding: 15px 30px !important;

}

.Call {
  text-decoration-line: underline !important;

}

input {
  accent-color: #FF5D31;
}

input.lage_box {
  width: 20px;
  height: 30px;
}

/* dog */
.dog {
  border-radius: 500px;
}

.border_dog {
  outline: 5px solid #FFEFDE !important;
  outline-offset: 40px;
}

.max_w_240 {
  max-width: 240px;
}

/* footer */
.max_w_440 {
  max-width: 390px;
}

.hover_up {
  width: 41px !important;
  height: 41px !important;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: block;
}

.hover_up:hover {
  transform: translateY(-10%) !important;

}

.hover_up:hover svg path {
  fill: #313EF7;

}

@media (min-width:1400px) {
  .bol_r_1::before {
    content: '';
    position: absolute;
    left: -60px;
    height: 35px !important;
    width: 35px !important;
    top: 120px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .bol_r_1::after {
    content: '';
    position: absolute;
    right: -60px;
    height: 35px !important;
    width: 35px !important;
    top: 120px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .bol_l_1::after {
    content: '';
    position: absolute;
    right: -60px;
    height: 35px !important;
    width: 35px !important;
    bottom: 110px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .bol_l_1::before {
    content: '';
    position: absolute;
    left: -60px;
    height: 35px !important;
    width: 35px !important;
    bottom: 110px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .line_r_1::after {
    content: '';
    position: absolute;
    left: -490px;
    height: 35px !important;
    width: 434px !important;
    bottom: 125px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .line_r_1::before {
    content: '';
    position: absolute;
    right: -490px;
    height: 35px !important;
    width: 434px !important;
    bottom: 125px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .line_l_1::before {
    content: '';
    position: absolute;
    right: -490px;
    height: 35px !important;
    width: 434px !important;
    top: 105px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .line_l_1::after {
    content: '';
    position: absolute;
    left: -490px;
    height: 35px !important;
    width: 434px !important;
    top: 105px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .feed {
    content: '';
    position: absolute;
    top: -13px !important;
    left: -490px;
    z-index: 10 !important;
  }

  .Health {
    content: '';
    position: absolute;
    bottom: 210px !important;
    left: -490px;
    z-index: 10 !important;
  }

  .Vaccination {
    content: '';
    position: absolute;
    bottom: -50px !important;
    left: -490px;
    z-index: 10 !important;
  }

  .Overnight {
    content: '';
    position: absolute;
    top: -13px !important;
    right: -490px;
    z-index: 10 !important;
  }

  .Medical {
    content: '';
    position: absolute;
    bottom: 210px !important;
    right: -490px;
    z-index: 10 !important;
  }

  .Traning {
    content: '';
    position: absolute;
    bottom: -50px !important;
    right: -490px;
    z-index: 10 !important;
  }
}

@media (max-width:1400px) {
  .bol_r_1::before {
    content: '';
    position: absolute;
    left: -60px;
    height: 35px !important;
    width: 35px !important;
    top: 120px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .bol_r_1::after {
    content: '';
    position: absolute;
    right: -60px;
    height: 35px !important;
    width: 35px !important;
    top: 120px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .bol_l_1::after {
    content: '';
    position: absolute;
    right: -60px;
    height: 35px !important;
    width: 35px !important;
    bottom: 110px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .bol_l_1::before {
    content: '';
    position: absolute;
    left: -60px;
    height: 35px !important;
    width: 35px !important;
    bottom: 110px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .line_r_1::after {
    content: '';
    position: absolute;
    left: -410px;
    height: 35px !important;
    width:350px !important;
    bottom: 125px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .line_r_1::before {
    content: '';
    position: absolute;
    right: -410px;
    height: 35px !important;
    width: 350px !important;
    bottom: 125px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .line_l_1::before {
    content: '';
    position: absolute;
    right: -410px;
    height: 35px !important;
    width: 350px !important;
    top: 105px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .line_l_1::after {
    content: '';
    position: absolute;
    left: -410px;
    height: 35px !important;
    width: 350px !important;
    top: 105px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .feed {
    content: '';
    position: absolute;
    top: -13px !important;
    left: -410px;
    z-index: 10 !important;
  }

  .Health {
    content: '';
    position: absolute;
    bottom: 210px !important;
    left: -410px;
    z-index: 10 !important;
  }

  .Vaccination {
    content: '';
    position: absolute;
    bottom: -50px !important;
    left: -410px;
    z-index: 10 !important;
  }

  .Overnight {
    content: '';
    position: absolute;
    top: -13px !important;
    right: -410px;
    z-index: 10 !important;
  }

  .Medical {
    content: '';
    position: absolute;
    bottom: 210px !important;
    right: -410px;
    z-index: 10 !important;
  }

  .Traning {
    content: '';
    position: absolute;
    bottom: -50px !important;
    right: -410px;
    z-index: 10 !important;
  }
}

@media (max-width:1200px) {
  .bol_r_1::before {
    content: '';
    position: absolute;
    left: -60px;
    height: 35px !important;
    width: 35px !important;
    top: 120px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .bol_r_1::after {
    content: '';
    position: absolute;
    right: -60px;
    height: 35px !important;
    width: 35px !important;
    top: 120px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .bol_l_1::after {
    content: '';
    position: absolute;
    right: -60px;
    height: 35px !important;
    width: 35px !important;
    bottom: 110px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .bol_l_1::before {
    content: '';
    position: absolute;
    left: -60px;
    height: 35px !important;
    width: 35px !important;
    bottom: 110px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .line_r_1::after {
    content: '';
    position: absolute;
    left: -410px;
    height: 35px !important;
    width:350px !important;
    bottom: 125px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .line_r_1::before {
    content: '';
    position: absolute;
    right: -410px;
    height: 35px !important;
    width: 350px !important;
    bottom: 125px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .line_l_1::before {
    content: '';
    position: absolute;
    right: -410px;
    height: 35px !important;
    width: 350px !important;
    top: 105px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .line_l_1::after {
    content: '';
    position: absolute;
    left: -410px;
    height: 35px !important;
    width: 350px !important;
    top: 105px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .feed {
    content: '';
    position: absolute;
    top: -13px !important;
    left: -410px;
    z-index: 10 !important;
  }

  .Health {
    content: '';
    position: absolute;
    bottom: 210px !important;
    left: -410px;
    z-index: 10 !important;
  }

  .Vaccination {
    content: '';
    position: absolute;
    bottom: -50px !important;
    left: -410px;
    z-index: 10 !important;
  }

  .Overnight {
    content: '';
    position: absolute;
    top: -13px !important;
    right: -410px;
    z-index: 10 !important;
  }

  .Medical {
    content: '';
    position: absolute;
    bottom: 210px !important;
    right: -410px;
    z-index: 10 !important;
  }

  .Traning {
    content: '';
    position: absolute;
    bottom: -50px !important;
    right: -410px;
    z-index: 10 !important;
  }
}


@media (min-width:1200px) {
  .W_min {
    width: 40%;
  }

  .p_50 {
    padding-left: 125px !important;
    padding-right: 125px !important;
  }
}

@media (max-width:1200px) {
  .nav_show {
    position: fixed;
    height: 104vh;
    background-color: #FFE4C8;
    transition: all 1s linear;
    left: -100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 6;
    top: 0;
  }

  .nav_show.showw {
    left: 0;
  }

  .mt_max {
    margin-top: 550px !important;

  }

  .W_min {
    width: 50%;
  }


}

@media (max-width:768px) {
  .W_min {
    width: 100%;
  }

  .mt_max {
    margin-top: 700px !important;

  }
}

@media (max-width:600px) {
  .W_min {
    width: 100%;
  }

  .mt_max {
    margin-top: 550px !important;

  }
}

@media (max-width:550px) {
  .W_min {
    width: 100%;
  }

  .mt_max {
    margin-top: 500px !important;

  }
}

@media (max-width:400px) {
  .W_min {
    width: 100%;
  }

  .mt_max {
    margin-top: 380px !important;

  }

  to {
    transform: rotate(360deg);
  }
}
























.img_box {
  border-radius: 23px;
  Width: 280px;
  Height: 268px;
}

.our_img {
  background: #FFF4EA;
  border-radius: 107px;
  z-index: 1;
  margin-bottom: -140px;
  border: 10px solid #FFF4EA;
}

.adopt_box {
  background: linear-gradient(97.17deg, #FF5D31 2.51%, #FF9F2E 70.22%);
  border-radius: 34px 34px 34px 10px;
}

.adopt_line {
  border-right: 3px solid #FFFFFF;
}


.adopt_box_2 {
  background: linear-gradient(110.59deg, #009F97 7.32%, #00C8BD 98.68%);
  border-left: 5px solid #FFEFDE;
  border-radius: 40px 40px 10px 0px;
}

.box_2_line {
  border: 1px solid #FFFFFF;
  width: 200px;

}

@media (min-width:992px) {
  .adopt_line_2 {
    border-right: 3px solid #FFFFFF;
  }
}