* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style: none !important;
  scroll-behavior: smooth !important;

}

/* nav */
.nav_btn {
  border: 2px solid #000958;
  border-radius: 5px;
  padding: 15px 30px !important;
}

.z-10 {
  z-index: 10;
}

@media (max-width:1200px) {
  .nav_show {
    position: fixed;
    height: 104vh;
    background-color: #FFE4C8;
    transition: all 1s linear;
    left: -100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 6;
    top: 0;
  }

  .nav_show.showw {
    left: 0;
  }

  to {
    transform: rotate(360deg);
  }
}
























.img_box {
  border-radius: 23px;
  Width: 250px;
  Height: 268px;
}