* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style: none !important;
  scroll-behavior: smooth !important;

}

.row {
  display: flex !important;
}

/* loading */
.loading {
  z-index: 20;
  height: 100%;
  width: 100%;
  position: fixed;

}

.cat {
  height: 150px;
}

/* .slick-active {
  display: flex !important;
} */
/* top */
.top {
  -webkit-animation: star 2.8s linear infinite;
  z-index: 20;

}

@keyframes star {

  0% {
    transform: translatey(0) scale(.998);
  }

  50% {
    transform: translatey(-7px) scale(1.1023);
  }

  100% {
    transform: translatey(0) scale(.998);
  }
}

/* nav */
.nav_btn {
  border: 2px solid #000958;
  border-radius: 5px;
  padding: 15px 30px !important;
}

.z-10 {
  z-index: 10;
}

.navlogo:hover {
  transform: scale(1.1);
}

.effect {
  transition: 0.2s ease-in-out;
}

.effect_1 {
  transition: 0.6s ease-in-out;
}

.home:hover {
  color: #000958 !important;

}

/* hero */
.Contact_btn {
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border-radius: 10px;
  padding: 17px 30px;
}

.max_w_480 {
  max-width: 480px;
}

.img_2 {
  z-index: 2;
  margin-left: -15px;
}

.img_3 {
  z-index: 3;
  margin-left: -15px;
}

.img_4 {
  z-index: 4;
  margin-left: -15px;
}

.img_0:hover {
transform: scale(1.01);
}

.img_5 {
  z-index: 5;
  margin-left: -15px;
}

/* Let */
.Book_btn {
  background: #FF5B2E;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border-radius: 10px;
  padding: 15px 30px !important;

}

.Call {
  text-decoration-line: underline !important;

}

input {
  accent-color: #FF5D31;
}

input.lage_box {
  width: 20px;
  height: 30px;
}

/* dog */
.dog {
  border-radius: 500px;
}



.max_w_240 {
  max-width: 240px;
}

/* footer */
.max_w_440 {
  max-width: 390px;
}

.hover_up {
  width: 41px !important;
  height: 41px !important;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: block;
}

.hover_up:hover {
  transform: translateY(-10%) !important;

}

.hover_up:hover svg path {
  fill: #313EF7;

}

@media (min-width:1400px) {
  .border_dog {
    outline: 5px solid #FFEFDE !important;
    outline-offset: 40px;
  }

  .bol_r_1::before {
    content: '';
    position: absolute;
    left: -60px;
    height: 35px !important;
    width: 35px !important;
    top: 120px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .bol_r_1::after {
    content: '';
    position: absolute;
    right: -60px;
    height: 35px !important;
    width: 35px !important;
    top: 120px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .bol_l_1::after {
    content: '';
    position: absolute;
    right: -60px;
    height: 35px !important;
    width: 35px !important;
    bottom: 110px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .bol_l_1::before {
    content: '';
    position: absolute;
    left: -60px;
    height: 35px !important;
    width: 35px !important;
    bottom: 110px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .line_r_1::after {
    content: '';
    position: absolute;
    left: -490px;
    height: 35px !important;
    width: 434px !important;
    bottom: 125px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .line_r_1::before {
    content: '';
    position: absolute;
    right: -490px;
    height: 35px !important;
    width: 434px !important;
    bottom: 125px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .line_l_1::before {
    content: '';
    position: absolute;
    right: -490px;
    height: 35px !important;
    width: 434px !important;
    top: 105px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .line_l_1::after {
    content: '';
    position: absolute;
    left: -490px;
    height: 35px !important;
    width: 434px !important;
    top: 105px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .feed {
    content: '';
    position: absolute;
    top: -13px !important;
    left: -490px;
    z-index: 10 !important;
  }

  .Health {
    content: '';
    position: absolute;
    bottom: 210px !important;
    left: -490px;
    z-index: 10 !important;
  }

  .Vaccination {
    content: '';
    position: absolute;
    bottom: -50px !important;
    left: -490px;
    z-index: 10 !important;
  }

  .Overnight {
    content: '';
    position: absolute;
    top: -13px !important;
    right: -490px;
    z-index: 10 !important;
  }

  .Medical {
    content: '';
    position: absolute;
    bottom: 210px !important;
    right: -490px;
    z-index: 10 !important;
  }

  .Traning {
    content: '';
    position: absolute;
    bottom: -50px !important;
    right: -490px;
    z-index: 10 !important;
  }
}

@media (max-width:1400px) {
  .border_dog {
    outline: 5px solid #FFEFDE !important;
    outline-offset: 40px;
  }

  .bol_r_1::before {
    content: '';
    position: absolute;
    left: -60px;
    height: 35px !important;
    width: 35px !important;
    top: 120px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .bol_r_1::after {
    content: '';
    position: absolute;
    right: -60px;
    height: 35px !important;
    width: 35px !important;
    top: 120px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .bol_l_1::after {
    content: '';
    position: absolute;
    right: -60px;
    height: 35px !important;
    width: 35px !important;
    bottom: 110px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .bol_l_1::before {
    content: '';
    position: absolute;
    left: -60px;
    height: 35px !important;
    width: 35px !important;
    bottom: 110px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .line_r_1::after {
    content: '';
    position: absolute;
    left: -410px;
    height: 35px !important;
    width: 350px !important;
    bottom: 125px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .line_r_1::before {
    content: '';
    position: absolute;
    right: -410px;
    height: 35px !important;
    width: 350px !important;
    bottom: 125px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .line_l_1::before {
    content: '';
    position: absolute;
    right: -410px;
    height: 35px !important;
    width: 350px !important;
    top: 105px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .line_l_1::after {
    content: '';
    position: absolute;
    left: -410px;
    height: 35px !important;
    width: 350px !important;
    top: 105px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .feed {
    content: '';
    position: absolute;
    top: -13px !important;
    left: -410px;
    z-index: 10 !important;
  }

  .Health {
    content: '';
    position: absolute;
    bottom: 210px !important;
    left: -410px;
    z-index: 10 !important;
  }

  .Vaccination {
    content: '';
    position: absolute;
    bottom: -50px !important;
    left: -410px;
    z-index: 10 !important;
  }

  .Overnight {
    content: '';
    position: absolute;
    top: -13px !important;
    right: -410px;
    z-index: 10 !important;
  }

  .Medical {
    content: '';
    position: absolute;
    bottom: 210px !important;
    right: -410px;
    z-index: 10 !important;
  }

  .Traning {
    content: '';
    position: absolute;
    bottom: -50px !important;
    right: -410px;
    z-index: 10 !important;
  }
}

@media (max-width:1200px) {
  .border_dog {
    outline: 5px solid #FFEFDE !important;
    outline-offset: 40px;
  }

  .bol_r_1::before {
    content: '';
    position: absolute;
    left: -60px;
    height: 35px !important;
    width: 35px !important;
    top: 120px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .bol_r_1::after {
    content: '';
    position: absolute;
    right: -60px;
    height: 35px !important;
    width: 35px !important;
    top: 120px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .bol_l_1::after {
    content: '';
    position: absolute;
    right: -60px;
    height: 35px !important;
    width: 35px !important;
    bottom: 110px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .bol_l_1::before {
    content: '';
    position: absolute;
    left: -60px;
    height: 35px !important;
    width: 35px !important;
    bottom: 110px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .line_r_1::after {
    content: '';
    position: absolute;
    left: -319px;
    height: 35px !important;
    width: 260px !important;
    bottom: 125px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .line_r_1::before {
    content: '';
    position: absolute;
    right: -319px;
    height: 35px !important;
    width: 260px !important;
    bottom: 125px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .line_l_1::before {
    content: '';
    position: absolute;
    right: -319px;
    height: 35px !important;
    width: 260px !important;
    top: 105px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .line_l_1::after {
    content: '';
    position: absolute;
    left: -319px;
    height: 35px !important;
    width: 260px !important;
    top: 105px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .feed {
    content: '';
    position: absolute;
    top: -13px !important;
    left: -319px;
    z-index: 10 !important;
  }

  .Health {
    content: '';
    position: absolute;
    bottom: 210px !important;
    left: -319px;
    z-index: 10 !important;
  }

  .Vaccination {
    content: '';
    position: absolute;
    bottom: -50px !important;
    left: -319px;
    z-index: 10 !important;
  }

  .Overnight {
    content: '';
    position: absolute;
    top: -13px !important;
    right: -319px;
    z-index: 10 !important;
  }

  .Medical {
    content: '';
    position: absolute;
    bottom: 210px !important;
    right: -319px;
    z-index: 10 !important;
  }

  .Traning {
    content: '';
    position: absolute;
    bottom: -50px !important;
    right: -319px;
    z-index: 10 !important;
  }
}

@media (max-width:992px) {
  .border_dog {
    outline: 5px solid #FFEFDE !important;
    outline-offset: 40px;
  }

  .mt_50 {
    margin-top: 550px;
    margin-bottom: 550px;
  }

  .bol_r_1::before {
    content: '';
    position: absolute;
    left: 0px;
    height: 35px !important;
    width: 35px !important;
    top: 120px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .bol_r_1::after {
    content: '';
    position: absolute;
    right: 300px;
    height: 35px !important;
    width: 35px !important;
    top: 1300px !important;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .bol_l_1::after {
    content: '';
    position: absolute;
    right: 300px;
    height: 35px !important;
    width: 35px !important;
    bottom: 110px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .bol_l_1::before {
    content: '';
    position: absolute;
    left: 0px;
    height: 35px !important;
    width: 35px !important;
    top: 320px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .line_r_1::after {
    content: '';
    position: absolute;
    left: 32px;
    height: 35px !important;
    width: 260px !important;
    top: 305px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .line_r_1::before {
    content: '';
    position: absolute;
    right: 40px;
    height: 35px !important;
    width: 260px !important;
    bottom: 125px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .line_l_1::before {
    content: '';
    position: absolute;
    right: 40px;
    height: 35px !important;
    width: 260px !important;
    top: 1285px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .line_l_1::after {
    content: '';
    position: absolute;
    left: 32px;
    height: 35px !important;
    width: 260px !important;
    top: 105px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .feed {
    content: '';
    position: absolute;
    top: -13px !important;
    left: 35px;
    z-index: 10 !important;
  }

  .Health {
    content: '';
    position: absolute;
    top: 190px !important;
    left: 35px;
    z-index: 10 !important;
  }

  .Vaccination {
    content: '';
    position: absolute;
    top: 380px !important;
    left: 35px;
    z-index: 10 !important;
  }

  .Overnight {
    content: '';
    position: absolute;
    top: 1180px !important;
    right: 35px;
    z-index: 10 !important;
  }

  .Medical {
    content: '';
    position: absolute;
    bottom: 180px !important;
    right: 32px;
    z-index: 10 !important;
  }

  .Traning {
    content: '';
    position: absolute;
    bottom: -50px !important;
    right: 35px;
    z-index: 10 !important;
  }
}


@media (max-width:500px) {
  .border_dog {
    outline: 5px solid #FFEFDE !important;
    outline-offset: 25px;
    margin-left: 27px;
  }
}

@media (min-width:1200px) {
  .W_min {
    width: 40%;
  }

  .p_50 {
    padding-left: 125px !important;
    padding-right: 125px !important;
  }
}

@media (max-width:1200px) {
  .nav_show {
    position: fixed;
    height: 104vh;
    background-color: #FFE4C8;
    transition: all 1s linear;
    left: -100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 6;
    top: 0;
  }

  .nav_show.showw {
    left: 0;
  }

  .mt_max {
    margin-top: 550px !important;

  }

  .W_min {
    width: 50%;
  }


}

@media (max-width:768px) {
  .W_min {
    width: 100%;
  }

  .mt_max {
    margin-top: 700px !important;

  }
}

@media (max-width:600px) {
  .W_min {
    width: 100%;
  }

  .mt_max {
    margin-top: 550px !important;

  }
}

@media (max-width:550px) {
  .W_min {
    width: 100%;
  }

  .mt_max {
    margin-top: 500px !important;

  }
}

@media (max-width:400px) {
  .line_r_1::before {
    content: '';
    position: absolute;
    right: 40px;
    height: 35px !important;
    width: 260px !important;
    bottom: 125px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .bol_l_1::after {
    content: '';
    position: absolute;
    right: 300px;
    height: 35px !important;
    width: 35px !important;
    bottom: 110px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .line_l_1::before {
    content: '';
    position: absolute;
    right: 40px;
    height: 35px !important;
    width: 260px !important;
    top: 1194px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .bol_r_1::after {
    content: '';
    position: absolute;
    right: 300px;
    height: 35px !important;
    width: 35px !important;
    top: 1210px !important;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .Overnight {
    content: '';
    position: absolute;
    top: 1100px !important;
    right: 35px;
    z-index: 10 !important;
  }

  .Medical {
    content: '';
    position: absolute;
    bottom: 190px !important;
    right: 32px;
    z-index: 10 !important;
  }

  .Traning {
    content: '';
    position: absolute;
    bottom: -50px !important;
    right: 30px;
    z-index: 10 !important;
  }

  .w_100 {
    width: 80% !important;
  }

  .W_min {
    width: 100%;
  }

  .mt_max {
    margin-top: 380px !important;

  }
}

@media (max-width:370px) {
  .line_r_1::before {
    content: '';
    position: absolute;
    right: 0px;
    height: 35px !important;
    width: 260px !important;
    bottom: 125px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .bol_l_1::after {
    content: '';
    position: absolute;
    right: 260px;
    height: 35px !important;
    width: 35px !important;
    bottom: 110px;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .line_l_1::before {
    content: '';
    position: absolute;
    right: 0px;
    height: 35px !important;
    width: 260px !important;
    top: 1135px;
    border-bottom: 5px solid #FFEFDE;
    z-index: 1;
  }

  .bol_r_1::after {
    content: '';
    position: absolute;
    right: 260px;
    height: 35px !important;
    width: 35px !important;
    top: 1150px !important;
    border-radius: 50px;
    border: 5px solid #FFEFDE !important;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%) !important;

  }

  .Overnight {
    content: '';
    position: absolute;
    top: 1035px !important;
    right: 20px;
    z-index: 10 !important;
  }

  .Medical {
    content: '';
    position: absolute;
    bottom: 170px !important;
    right: 19px;
    z-index: 10 !important;
  }

  .Traning {
    content: '';
    position: absolute;
    bottom: -40px !important;
    right: 18px;
    z-index: 10 !important;
  }
}

.groo_1 {
  left: 200px;
  top: 150px;
}

.groo_2 {
  right: 200px;
  top: 70px;
}

.zig_position {
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: example2;
  animation-name: example2;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  left: 2%;
  position: absolute;
  top: 14%;
  z-index: 0;
}

.img_box {
  border-radius: 23px;
  Width: 280px;
  Height: 268px;
}

.our_img {
  background: #FFF4EA;
  border-radius: 107px;
  z-index: 1;
  margin-bottom: -140px;
  border: 10px solid #FFF4EA;
}

.adopt_box {
  background: linear-gradient(97.17deg, #FF5D31 2.51%, #FF9F2E 70.22%);
  border-radius: 34px 34px 34px 10px;
}

.adopt_line {
  border-right: 3px solid #FFFFFF;
}

.adopt_box_2 {
  background: linear-gradient(110.59deg, #009F97 7.32%, #00C8BD 98.68%);
  border-left: 5px solid #FFEFDE;
  border-radius: 40px 40px 10px 0px;
}

.box_2_line {
  border: 1px solid #FFFFFF;
  width: 200px;

}

.mx_473 {
  max-width: 473px;
}

.pet_box {
  background: #FFFAF5;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  border-radius: 44px;
}

.pet_box:hover .hover_white {
  color: #FFEFDE !important;
}

.pet_box:hover {
  background: #FB901B;
}

.pet_box:hover {
  background: #FB901B;
}

.pet_box:hover .pet_img_box {
  background: #FFFFFF;
}

.pet_img_box {
  background: #FB901A;
  width: 63px;
  height: 63px;
  border-radius: 15px;
}

/* box 2 */
.pet_box_2:hover .hover_white {
  color: #FFEFDE !important;
}

.pet_img_box_2 {
  background: #00C27E;
  width: 63px;
  height: 63px;
  border-radius: 15px;
}

.pet_box_2:hover {
  background: #00C27E;
}

.pet_box_2:hover .pet_img_box_2 {
  background: #FFFFFF;
}

.pet_box_2 {
  background: #FFFAF5;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  border-radius: 44px;
}

.pet_box_2:hover {
  background: #00C27E;
}

/* box 3 */
.pet_box_3:hover .hover_white {
  color: #FFEFDE !important;
}

.pet_img_box_3 {
  background: #73BFFF;
  width: 63px;
  height: 63px;
  border-radius: 15px;
}

.pet_box_3:hover {
  background: #73BFFF;
}

.pet_box_3:hover .pet_img_box_3 {
  background: #FFFFFF;
}

.pet_box_3 {
  background: #FFFAF5;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  border-radius: 44px;
}

/* box 4 */
.pet_box_4:hover .hover_white {
  color: #FFEFDE !important;
}

.pet_img_box_4 {
  background: #FABF3E;
  width: 63px;
  height: 63px;
  border-radius: 15px;
}

.pet_box_4:hover {
  background: #FABF3E;
}

.pet_box_4:hover .pet_img_box_4 {
  background: #FFFFFF;
}

.pet_box_4 {
  background: #FFFAF5;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  border-radius: 44px;
}

.learn_butn {
  background: #FF5B2E;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border-radius: 10px;
  padding: 22px 33px;
}

.effect_arrow {
  transition: all 1s ease-in-out;
}

.mx_363 {
  max-width: 363px;
}

.dog_box {
  background: #FFFFFF;
  box-shadow: 0px 36px 39px rgba(7, 0, 59, 0.04);
  border-radius: 16px;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  width: 100%;
}

.dog_box_slider {
  background: #5BD6E2;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.arrow_btn {
  background: #FF5B2E;
  box-shadow: 0px 5px 27px rgba(255, 91, 46, 0.3);
  /* transform: matrix(1, 0, 0, -1, 0, 0); */
  width: 45px;
  height: 45px;
  display: block;
  border-radius: 50%;
}

.star_hero {
  left: -90px;
  bottom: 10px;
}

.ring {
  right: -50%;
  top: 40px;
}

.pointer {
  cursor: pointer;
}

@media (max-width:1200px) {
  .star_hero {
    left: 0;
    bottom: -40px;
  }

  .ring {
    right: -10%;
    top: 190px;
  }
}

@media (max-width:576px) {

  .ring {
    left: -60%;
    top: -20px;
  }
}

@media (min-width:992px) {
  .adopt_line_2 {
    border-right: 3px solid #FFFFFF;
  }

  .adopt_box_2 {
    height: 223px;
    transform: translateY(-42px);
  }

  .adopt_box {
    height: 180px;
  }
}

@media (min-width:576px) {
  .clr_show {
    transform: translateX(20%);
  }

  .dog_box {
    background: #FFFFFF;
    box-shadow: 0px 36px 39px rgba(7, 0, 59, 0.04);
    border-radius: 16px;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
    width: 100%;
    height: 100%;
  }

  .colr_arrow {
    opacity: 0;
    transform: translateX(-100%);

  }

  .clr_show:hover .colr_arrow {
    opacity: 1;
    transform: translate(60%, 6%);
  }

  .arrow_clr {
    transform: translate(-40%, 6%);
  }
}

.loading {
  z-index: 99;
}

.rotate_animation {
  animation: rotatee 3s ease-in-out infinite alternate;
}

@keyframes rotatee {
  0% {
    transform: rotate(360deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.preloaderAnimation {
  animation: preloaderimg 1s linear infinite alternate;
}

@keyframes preloaderimg {
  0% {
    transform: scale(1);

  }

  100% {
    transform: scale(1.5);

  }
}

.grow_up {
  animation: preloaderimg 1s linear infinite alternate;
}

.slow_animation {
  transition: all 0.4s linear;
}